@import "../../styles/variables.scss";
.event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    @include contain;
  }

  &-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 1rem;
  }

  &__group {
    min-width: 1rem;
    word-wrap: break-word;
    // max-width: 3rem;
    @media (min-width: 400px) {
      max-width: unset;
    }
  }

  &__group--right {
    min-width: 4rem;
  }
  &__card {
    background-color: honeydew;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    width: 100%;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    @include tablet {
      @include contain;
    }

    &--top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__card:not(:first-of-type) {
    border-top: 1px solid rgb(216, 216, 216);
  }

  &__card:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  &__left {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__image {
    border-radius: 4px;
    width: 120px;
    height: 200px;
    object-fit: cover;
    margin-right: 1rem;
    @media (min-width: 500px) {
      width: 250px;
      height: 200px;
      margin-right: 3rem;
    }
    @include tablet {
      width: 300px;
      height: 255px;
      margin-right: 5rem;
    }
  }
  &__title {
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    text-align: left;
    padding-inline: 1rem;
  }

  &__date {
    color: $dark;
    // padding-bottom: 1rem;
    word-wrap: initial;
  }

  &__skill {
    color: grey;
    text-align: left;
    // min-height: 5rem;
    @media (min-width: 400px) {
      // min-height: 3rem;
    }
  }

  &__author {
    color: black;
  }

  &__group-main-container {
    padding: 1rem;
    height: 100%;
    // gap: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: center;

    @media (min-width: 500px) {
      // gap: 5rem;
    }
    @include tablet {
      // gap: 10rem;
    }
  }
}

.event__buttons-meetup {
  display: flex;

  &--register {
    margin-top: 0.5rem;
    font-size: 10px;
    padding: 0.5rem;
    width: 6rem;
    background-color: $primary;
    border-radius: 25px;
    color: white;
    font-weight: bold;

    cursor: pointer;
    &:hover {
      background-color: rgb(84, 97, 23);
      transition: all 0.2s ease;
    }
    @include tablet {
      font-size: 12px;
      width: 8rem;
    }
  }

  &--delete {
    @extend .event__buttons-meetup--register;
    color: white;
    font-size: 10px;
    background-color: rgb(81, 0, 81);
    cursor: pointer;
    &:hover {
      background-color: black;
      transition: all 0.2s ease;
    }
    @include tablet {
      font-size: 12px;
      width: 8rem;
    }
  }
}

.event-register__title {
  width: 100%;
  background-color: $primary;
  margin-inline: 1rem;
  font-weight: 500;
  padding: 0.5rem;
  color: $dark-v2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  @include tablet {
    @include contain;
    font-size: 24px;
  }
}
