@import "../../styles/variables.scss";
.event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: honeydew;

  &__group--right {
    min-width: 4rem;
  }
  &__card {
    border-top: 1px solid rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    padding: 1rem;

    width: 90%;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    @include tablet {
      @include contain;
    }

    &--top {
      display: flex;
      flex-direction: row;
    }
  }

  &__left {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__image {
    width: 100px;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    text-transform: uppercase;
    color: black;
    font-weight: 600;
  }

  &__date {
    color: $dark;
    padding-bottom: 1rem;
  }

  &__skill {
    color: grey;
    min-height: 3rem;
  }

  &__author {
    color: black;
  }

  &__group-main-container {
    padding: 1rem;
    gap: 1rem;
    display: flex;

    justify-content: center;
    gap: 1rem;
    @include tablet {
      gap: 10rem;
    }
  }
}

.event__buttons-meetup {
  display: flex;

  &--register {
    font-size: 10px;
    padding: 0.5rem;
    width: 6rem;
    background-color: $primary;
    border-radius: 25px;
    color: white;
    margin-bottom: 1rem;
    cursor: pointer;
    &:hover {
      background-color: rgb(84, 97, 23);
      transition: all 0.2s ease;
    }
    @include tablet {
      font-size: 14px;
      width: 8rem;
    }
  }

  &--delete {
    @extend .event__buttons-meetup--register;
    color: white;
    font-size: 10px;
    background-color: rgb(81, 0, 81);
    cursor: pointer;
    &:hover {
      background-color: rgb(198, 179, 179);
      transition: all 0.2s ease;
    }
    @include tablet {
      font-size: 14px;
      width: 8rem;
    }
  }
}
