@import "../../../styles/variables.scss";
.clinic {
  &__accordian {
    cursor: pointer;
    &-row {
      background-color: white;
      display: flex;
      justify-content: space-between;
      font-size: 12px;

      &:hover {
        background-color: $dark-hover;
      }
    }
    &-table {
      padding: 0 0.5rem 0.5rem 0.5rem;
    }
    &-dates {
      list-style-type: none;
      padding: 1rem;
    }
    &-button {
      cursor: pointer;
      margin: 1rem;
      border-radius: 4px;
      padding: 0.5rem 1rem;
      background-color: $primary;
      color: white;
      &:hover {
        background-color: $primary-auth-hover;
      }
    }
  }
}
