@import "../../styles/variables.scss";

main {
  flex: 1;
}

.container {
  height: calc(100vh - 100px);
  background: $bg;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  h1 {
    padding: 1.5rem 2.5rem;
    background: linear-gradient(220deg, $primary, rgba($primary, 0.5));
    border-radius: $borderRadius calc(#{$borderRadius} * 10);
  }
}

.log-out {
  cursor: pointer;
  font-size: 12px;
  font-family: "poppins", sans-serif;
  background-color: transparent;
  color: rgb(31, 40, 31);
  @include tablet {
    margin-inline: 5rem;
  }
  @include desktop {
    margin-inline: 10rem;
  }
}

.user-change {
  padding-right: 0.75rem;

  display: flex;
  justify-content: space-between;
  &__text {
    font-size: 12px;
    color: rgb(31, 40, 31);
    font-weight: 400;
    @include tablet {
      margin-inline: 5rem;
    }
    @include desktop {
      margin-inline: 10rem;
    }
  }
}
